{% extends 'header.html' %}

{% block content %}


<div class="row pr">
    <div class="col-md-12">
        <p>Dear Student, After payment of fee, please download Fee Receipt Mandatorily. If receipt is not generated, contact the Accounts Department / Exam Branch during college working hours.</p>
        <p class="rex">Your Latest Attendance is: <span class="text-success nrcm">81.92 %</span></p>
        <p class="mex">(Your attendance is Good)</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p><a href="#">
            Click Here to Pay College/Transport/Hostel Fees Online
        </a></p>
        <p><a href="#">
            Click Here to Pay Condonation Fees Online
        </a></p>
        <h4><a href="#" class="text-success">
            Click Here To Pay Regular Exam Fees Online
        </a></h4>
        <p><a href="#">
            Click Here to Pay Supply Exam Fees Online
        </a></p>
        <p><a href="#">
            Click Here to Pay Revaluation Exam Fees Online
        </a></p>
        <p><a href="#">
            Click Here to Go for Regular/Supply Fee Receipts
        </a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button class="mn">
            ToDay's TimeTable
        </button>
    </div>
</div>




{% endblock %}